doctype html
html.screen-scroll
head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1', user-scalable='no')
  title
    | Say Hello to PennApps Accelerator — Medium
  link(rel='stylesheet', href='css/style.css')
  body.template-flex-article.browser-chrome.os-mac.js-loading(itemscope='itemscope', itemtype='http://schema.org/Article')
    nav.site-nav(tabindex='-1')
      button.site-nav-logo.distraction-free-component(data-action='open-nav')
        span.icons.icons-logo-m
          span.screen-reader-text
            | Medium site navigation
        .site-nav-activity-flag
      .site-nav-scrollable-container
        ul.site-nav-list
          li.site-nav-list-item.navigable-list-item.site-nav-list-item-home
            a.site-nav-list-item-btn(title='Go home', href='/', tabindex='-1')
              span.icons.icons-logo-m
              | Home
            a.site-nav-list-item-btn-secondary(title='Search medium', href='/search', tabindex='-1')
              span.icons.icons-search
                span.screen-reader-text
                  | search
          li.site-nav-list-item.navigable-list-item
            a.site-nav-list-item-btn(title='Collections', href='/collections', tabindex='-1')
              span.icons.icons-collections
              | Collections
    .site-nav-overlay
    #container.container
      .butter-bar.error
      #prerendered.screen-content
        canvas.canvas-renderer
        article.post-article.lang-tier-1.supports-full-image-sections.scrolling-region(data-allow-notes='true', tabindex='-1')
          .post-field.image.image-picker-wrap.background-size-full.picker-layout-fill(data-url='view/img/pennapps-2012.jpg', data-image-id='1*qw9olVWH7BC3AjELJSeCzg.jpeg', data-width='960', data-height='720', data-image-style='full')
            .post-field.caption(data-action='dummy')
              | Dream Big, Do Big.
            .story-cover(data-load-img='.post-header-image-cover')
              .picker-target-clone
              .picker-target.story-cover-image(style='background-image: url(http://beacon.wharton.upenn.edu/entrepreneurship/files/2012/09/PennApps-Fall-2012-We-filled-entire-ground-floor-of-McClelland-Hall.jpg);')
              .post-preview.layout-foreground.post-preview-with-image.post-preview-unfiltered
                .post-preview-content.layout-single-column.align-middle.layout-fill-height
                  .align-block.layout-fill-width
                    .post-preview-description
                      | Next in trending
                    h3.post-preview-title
                      | Say Hello to PennApps Accelerator
                    h4.post-preview-subtitle
                      | PennApps Accelerator Spring 2014
              .picker-content.story-cover-content(data-scroll='post-cover')
                .post-content.layout-single-column
                  header.post-header.post-header-headline
                    h1.post-title(itemprop='name', name='title')
                      | PennApps Accelerator
                    h2.post-field.subtitle(name='subtitle')
                      | Take off Spring 2014
                span.story-cover-arrow(data-action='scroll-to-post-start')
          section.post-page-wrapper.post-page-wrapper-full
            .post-page-wrapper-inner
              .post-content
                .post-content-inner
                  .notes-source
                      section(name='6879')
                        .section-divider.layout-single-column
                          hr.section-divider
                        .section-inner.layout-single-column
                          h2(name='a98f')
                            | PennApps Accelerator
                          figure.image-inset-left(name='9b87')
                            img(data-width='720', data-height='720', width='350', height='350', data-action='zoom', data-action-value='1*LvfhFSouUTkUbhAjCVy3Hg.jpeg', src='http://2014s.pennapps.com/build/images/logo/dark2.png')
                            figcaption.image-caption
                              | You have great ideas. Let’s make them happen.
                          p(name='e55d')
                            a(target='_blank', href='http://www.innoblue.org/', rel='nofollow')
                              | PennApps Accelerator
                            | is a community of hackers, entrepreneurs, and builders who want to make the world a better place. As the community for student entrepreneurs at Penn State, we a look to foster great ideas into real startups and projects. For more information on how to get involved, check out www.innoblue.org.
                      section(name='473b')
                        .section-divider.layout-single-column
                          hr.section-divider
                        .section-inner.layout-single-column
                          h2(name='bdd6')
                            strong
                              em
                                | We’d like to welcome & introduce the 2014 Innoblue Accelerator Class!
                          p(name='ec5a')
                            | The following teams will spend the next 8 weeks turning their ideas into reality! The Innoblue Accelerator Team will assign each team a coach who will guide the teams through the accelerator’s weekly workshops and help prepare them for the Startup Showcase. Through the accelerator, the ventures will have access to invaluable resources and pro bono services addressing growth hacking/marketing, financial projection, legal advisory, and many other services within the State College community. At the end of the accelerator, the ventures will have the opportunity to network with industry experts and pitch to potential investors at the Startup Showcase. The Innoblue Team looks forward to accelerating these ventures in the coming weeks so be sure to check the blog each week to see their progress!
                          p(name='1651')
                            em
                              | Interested in joining, mentoring, or funding the accelerator teams? Contact Mitch@innoblue.org or Dan@innoblue.org
                            | .
                      section(name='d7cc')
                        .section-divider.layout-single-column
                          hr.section-divider
                        .section-inner.layout-single-column
                          h2(name='f068')
                            strong
                              em
                                | H20 Pal
                          p(name='48d7')
                            a(target='_blank', href='http://www.h2opal.com/', rel='nofollow')
                              strong
                                | h2opal.com
                          figure.image-inset-left(name='9f27')
                            img(data-width='2000', data-height='1333', width='350', height='233', data-action='zoom', data-action-value='1*4T82-zgHEkAcAyBq0PyZpw.png', src='https://d262ilb51hltx0.cloudfront.net/max/600/1*4T82-zgHEkAcAyBq0PyZpw.png')
                            figcaption.image-caption
                              | A new take on body metrics.
                          p(name='7322')
                            | H20Pal is a startup working on innovative methods that help keep you fit and healthy in a nonintrusive and fun way.
                          p(name='7817')
                            | Our first focus is on keeping people hydrated. Staying hydrated helps you stay healthy, and information on what you’re putting into your body is important. Many people are chronically dehydrated, and mistreat the symptoms using coffee and medicine when they really need water. This is where we come in.
                          p(name='928b')
                            | H2O-Pal monitors your water intake and helps you stay hydrated by giving you reminders when you need to drink water through a supplemental mobile application. It’s a small device you simply attach to the base of a bottle. The device is completely nonintrusive and the product’s design adapts for use with different water bottles.
                          h3(name='646b')
                            strong
                              | Meet the Team
                          p(name='9f68')
                            strong
                              | Matej Marjanovic — Founder, COO
                          p(name='9849')
                            | Matej does whatever needs to be done. Work shifts from filling out patent applications, designing products, marketing and managing the financial side for Out of Galaxy, LLC. Matej majors in Electrical Engineering at Penn State University.
                          p(name='b89f')
                            strong
                              | Igor Marjanovic — Founder, CEO
                          p(name='0d91')
                            | Igor keeps the startup on track and ready for the future. His focus lies on user testing and product development. Additionally, Igor is a researcher and PhD student of Biomedical Engineering at the University of Ljubljana.
                          p(name='d7b0')
                            strong
                              | Matt Reading — Manufacturing Manager
                          p(name='d5ca')
                            | As the company grows, Matt ensures that the manufacturing of H2O-Pals scales quickly and reliably. Matt majors in Mechanical Engineering at Penn State University.
                          p(name='3da1')
                            strong
                              | Marissa Salway — Marketing Intern Extraordinaire
                          p(name='a39d')
                            | Marissa makes great things happen on Twitter and provides awesome marketing support. Marissa majors in Public Relations at Penn State University and she is an Account Associate with Happy Valley Communications.
                          p(name='3be8')
                            strong
                              | Peter Frantar — Chief Hardware Engineer
                          p(name='4583')
                            | Peter is an electrical engineer with more than 18 years of experience in implementing control systems and wireless technology. Additionally, Peter co-founded two companies, Siop Elektronika D.O.O. and Vorteks D.O.O. Vorteks received the Slovenia’s Best Start-Up of the year Award in 2012 for their electric motor that requires no traditional electrical windings.
                          h2(name='34f6')
                            strong
                              em
                                | The Spot 2g
                          p(name='65d3')
                            a(target='_blank', href='http://thespot2g.com/', rel='nofollow')
                              strong
                                | thespot2g.com
                          figure.image-inset-left(name='71fd')
                            img(data-width='265', data-height='165', width='265', height='165', src='https://d262ilb51hltx0.cloudfront.net/max/600/1*RGBlraFxwjEi7LPAhM5y-g.png')
                            figcaption.image-caption
                              | Let’s make this a great night.
                          p(name='33d2')
                            | TheSpot2g.com provides direct access into the local nightlife scene. We are using social media to connect nightlife enthusiasts to the hottest Spots to party in town. Find everything that’s going on with our up to minute feed, aka “The Spots”, where bar, club,and pub owners post their drink specials, DJs, Entertainment, Cover Charges, Free Giveaways, Special Promotions and so much more . We take pride in partnering with the best bars, clubs and pubs in your area to help you find the experience you are looking for.
                          h3(name='b66d')
                            strong
                              | Meet the Team
                          p(name='d829')
                            strong
                              | Nathan Caschera — Founder
                          p(name='61eb')
                            | Nathan is a native of South Williamsport, Pennsylvania. Born August 24, 1985, Nathan attended Penn State University from 04’-08’ where he graduated with a Bachelors of Education.
                          p(name='97eb')
                            strong
                              | Samuel Hill — Founder
                          p(name='09a5')
                            | Samuel is a native of Queens, New York. Born October 9th, 1988, Samuel began attending Penn State University the fall of 2008. Samuel graduated with a bachelor’s degree in Labor Employment Relations.
                          p(name='df0e')
                            | The two Penn State attendees were inspired by the lively down town atmosphere in State College, PA. The two began to formalize an idea that would connect the concepts of social media to nightlife entertainment. On a gloomy November evening in Happy Valley, at a tailgating event before a Penn State football game, the idea was born.
                          h2(name='4b08')
                            strong
                              em
                                | Improving Fit
                          p(name='2fcc')
                            a(target='_blank', href='http://groupfitness.improvingfit.com/', rel='nofollow')
                              strong
                                | groupfitness.improvingfit.com
                          figure.image-inset-left(name='9883')
                            img(data-width='256', data-height='256', width='256', height='256', src='https://d262ilb51hltx0.cloudfront.net/max/600/1*z4PnXJsxYA1aTQhZ3jFCMA.jpeg')
                            figcaption.image-caption
                              | Improving Fit Handles Gym Schedules.
                          p(name='5bd3')
                            | Improving Fit intends to become the most well rounded brand in health technology. We believe that until now, fitness tracking has been too difficult, and the solutions, too specific. We want to be the company that takes wellness technology to the next level and allow millions of users to work together to create a healthier, happier, world.
                          p(name='6a97')
                            strong
                              | Our technologies are created around 3 main goals:
                          p(name='72bc')
                            | 1) To make it easy and fun to track anything that affects a user’s fitness and well-being.
                          p(name='691e')
                            | 2) To create a platform allowing leaders in health, fitness, nutrition, sports, and disease prevention fields to promote their good work and better the lives of others.
                          p(name='303b')
                            | 3) To connect users with similar goals and interest, while creating a community that fosters positive change.
                          h3(name='55d1')
                            strong
                              | Meet the Team
                          p(name='3ac6')
                            strong
                              | Trevor Cowser — Founder
                          p(name='1a96')
                            | Trevor is a Penn State alumnus who recently moved back to State College to pursue entrepreneurship full time. Trevor has a business background, having earned a 3.83 studying marketing at Penn State and going on to do business to business sales for technology giant AT&T after graduating, being responsible for major sales territories in Atlanta, Dallas, and Fort Worth. Trevor is extremely interested in emerging web technologies and has taught himself many computer languages and technology implementations including HTML, CSS, PHP, MySQL, JavaScript, and Objective-C. Trevor’s true passion, though, the kind that keeps you up at night, is entrepreneurship.
                          h2(name='93a9')
                            em
                              | Line Hopper
                          p(name='df2d')
                            | LineHopper is a mobile application that allows you to sell your place in line. Anytime. Anywhere. LineHopper also allows you to jump in line from afar, at select locations.
                          figure.image-outset-left(name='4059')
                            img(data-width='1884', data-height='446', width='525', height='124', data-action='zoom', data-action-value='1*rpBq2vz6fT4TbUalDU5KfQ.png', src='https://d262ilb51hltx0.cloudfront.net/max/600/1*rpBq2vz6fT4TbUalDU5KfQ.png')
                            figcaption.image-caption
                              | Hop in line, Save your Time.
                          p(name='4253')
                            | Want to be the first person to own the iPhone 7, but also want to sleep in? Buy your place in line with LineHopper.
                          p(name='4936')
                            | Want to wake up at 4:00 am to camp out and earn a few bucks? Sell your place in line with Line Hopper.
                      section(name='948e')
                        .section-divider.layout-single-column
                          hr.section-divider
                        .section-inner.layout-single-column
                          h3(name='f114')
                            strong
                              | Meet the Team
                          p(name='a6f8')
                            strong
                              | Andrew Kriebel — Founder
                          p(name='e225')
                            | Andrew is a graduating honors student studying mechanical engineering and engineering leadership development. This is Andrew’s second semester with Innoblue, but he has always been passionate about innovation and new product development. Growing up in Annapolis, Maryland, he has been creating and building since childhood. As an engineer, Andrew focuses on product development, sustainable design, and humanitarian engineering. Outside of engineering, Andrew enjoys hiking, fishing, traveling, and playing soccer. During the accelerator, Andrew will be preparing to dance in THON 2014.
                          p(name='82a6')
                            strong
                              | Lola Buonomo — Founder
                          p(name='022a')
                            | Lola is a junior from Churchville, PA, studying Mechanical Engineering and minoring in Engineering Entrepreneurship. She is very involved at Penn State. Lola is an Engineering Ambassador where she teaches on high school outreach trips in hopes to promote greater interest in Penn State Engineering. Lola is really passionate about THON. Last year, she was on Public Relations Committee and this year Lola is dancing for ASME Benefitting THON. Lola is excited to have this unique opportunity to be involved in the accelerator program through Innoblue.
                          h2(name='aeb8')
                            em
                              | Support With Love
                          figure.image-inset-left(name='433f')
                            img(data-width='400', data-height='400', width='350', height='350', data-action='zoom', data-action-value='1*bwUwRw0AWor5D-j9SCkcmA.png', src='https://d262ilb51hltx0.cloudfront.net/max/600/1*bwUwRw0AWor5D-j9SCkcmA.png')
                            figcaption.image-caption
                              | A finalist from 1000 Pitches, at Penn State.
                          p(name='b1a5')
                            | Support with Love is the sole non-profit startup in the spring 2014 class. As an idea that sprung for the world’s largest student pitch competition,
                            a(target='_blank', href='http://www.1000pitches.com/', rel='nofollow')
                              | 1000 Pitches
                            | , this venture has come in with a $1000 prize grant as seed funding. Support with Love is a non-profit organization dedicated to creating a community of support and education for Asian Americans dealing with stigmas of mental health; with an emphasis on suicide prevention.
                          h3(name='f3a9')
                            strong
                              | Meet the Team
                          p(name='1a30')
                            strong
                              | Lydia Huang — Founder
                          p(name='cf13')
                            | Lydia lost her best friend to suicide in May 2009, and became inspired to create this organization after reading about mental health stigmas in the Asian American culture. Support with Love will develop and offer culturally-tailored educational workshops for Asian American parents to accept mental health as a valid medical concern, recognize signs of mental health issues, and understand the importance of seeking help and providing support for their children. By way of these educational workshops, Lydia hopes to drastically minimize the stigmas around mental health, and aid in suicide prevention.
                  .post-follow-ups.post-supplemental.layout-single-column
                  .post-footer-actions.post-supplemental.layout-single-column
                    .btn-set
                      button.btn.btn-large.btn-toggle.btn-primary.btn-suffix.recommend-button.no-user-select(data-action='sign-in-prompt', data-requires-token='true', data-popover-type='sign-in', data-redirect='/_/vote/p/63642390889d', data-popover='Sign in to recommend', data-popover-position='bottom', data-popover-signin-type='recommend', title='Recommend this post')
                        span.icons.icons-heart
                        span.btn-label.recommend-button-label(data-suffix='ed')
                          | Recommend
                      .vote-widget
                      .post-footer-secondary-actions
                        a.btn.btn-chromeless(title='Share this post on Twitter', data-action='share-on-twitter', data-action-value='63642390889d')
                          i.icons.icons-twitter
                        a.btn.btn-chromeless(title='Share this post on Facebook', data-action='share-on-facebook', data-action-value='63642390889d')
                          i.icons.icons-facebook
                    .post-footer-cards
                      .layout-multi-column-half
                        h4.cards-heading
                          | Written by
                        ul.cards
                          li.card.card-user
                            .card-image
                              a(href='/@InnobluePSU', title='Go to the profile of innoblue')
                                img.card-avatar(src='https://d262ilb51hltx0.cloudfront.net/fit/c/190/190/0*ei36x0Vhygnm13Hr.jpeg', title='innoblue')
                            .card-content
                              h3.card-name
                                a.link.link-primary(href='/@InnobluePSU', data-id='e9b5d73b8695', title='Go to the profile of innoblue', rel='author')
                                  | innoblue
                              p.card-description
                                | It's simple. People in the Penn State and State College community have great ideas. We're going to help them launch.
                              .card-additional
                                .card-description-additional.card-published
                                  span(data-tooltip='Originally published January 14, 2014')
                                    | Updated
                                  span
                                    time.post-date
                                      | January 21, 2014
          footer.post-footer.post-supplemental
    .loading-bar
